#add_location_modal {
    width: 500px;
    margin-left: -250px;
    margin-top: -150px;
}

#add_location_modal .left {
    float: left;
    width: 49%;
    position: relative;
}

#add_location_modal .right {
    float: left;
    width: 49%;
    position: relative;
    margin-left: 5px;
}

#add_location_modal .in-field_block {
    margin-left: auto;
    margin-right: auto;
}

#new_location_map {
    width: 100%;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}