.create_group_content{
    width:600px;
    height:600px;
    background-color:white;
    border:2px solid black;
}

.create_group_top_bar{
    
}

.create_group_middle{
    
}

.create_group_privacy{
    
}

.create_group_bottom{
    
}