.create_group_content{
    display: none;
    width: 600px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -125px;
    background-color:#efefef;
    padding: 5px;
    border: 3px solid black;
    /*    z-index:1001;*/
    display: none;
}

.create_group_top_bar{
    height: 25px;
    background-color: #555;
    background: url( /application/assets/images/stripe_c.png);
    padding:3px;
    color:white;
}

.create_group_middle{

}

.create_group_privacy{
    text-align: center;
}

.create_group_bottom{

}

.input_style{
    margin-left: 5px;
    width:180px;
    float:none;
    margin-top:7px;
    color:gray;
}

.invite_wrapper {
    width: 100%;
}

.invite_wrapper .left {
    float: left;
    width: 48%;
}

.invite_wrapper .right {
    float: left;
    margin-left: 4%;
    width: 48%;
}

#group_privacy_wrapper {
    text-align: center;
}