.create_group_content{
    display: none;
    width: 450px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -125px;
    background-color:#efefef;
    padding: 5px;
    border: 3px solid black;
    display: none;
}

.create_group_top_bar{
    height: 25px;
    background-color: #555;
    background: url( /application/assets/images/stripe_c.png);
    padding:3px;
    color:white;
}

.input_style{
    margin-left: 5px;
    width:180px;
    float:none;
    margin-top:7px;
    color:gray;
}

#group_privacy_wrapper {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.create_group_content table {
    width: 100%;
    margin-bottom: 15px;
}