#notifications_content > .left {
    padding: 5px;
    width: 48%;
    height: auto;
    float: left;
    border: 1px solid black;
}

#notifications_content > .right {
    padding: 5px;
    width: 48%;
    height: auto;
    float: right;
}

#notifications_list {
    width: 100%;
    height: auto;
}

.notification_entry {
    width: 100%;
    height: 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 5px;
    padding-top:5px;
}

.notification_entry.unviewed {
    background: -webkit-gradient(linear,left top,left bottom,from(lightBlue),to(#DFF));
}

.notification_entry > .left {
    float: left;
    width: 90px;
}

.notification_entry .picture {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.notification_entry .picture img {
    width: 100%;
    height: 100%;
}

.notification_entry > .middle {
    float: left;
    width: auto;
}

.notification_entry > .accept {
    float: right;
    width: 80px;
    background: -webkit-gradient(linear,left top,left bottom,from(#80B),to(#A3F));
    color: white;
    padding: 3px;
    margin-right:5px;
    text-align: center;
}