/* ---------- GLOBAL ------------*/
body{
    background-color: #F3F6FF;
    margin: 0px;
    font-family: helvetica;
    font-size: 15px;

    /*-webkit-user-select: none; */
    cursor:default; 
}

a{
    color:white; text-decoration: none;
}

/* ---------- TOP PANEL ----------- */
.top_panel{
    height: 40px;
    width:100%;
    background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#666));
}

.inside_top_panel{
    width:1024px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:12px;
    text-align: center;
}

.top_links{
    width:100%;
    text-align: right;
    height:100%;
    position:relative;
    top:10px;
}

/* ---------- CONTAINER ---------- */

.container{
    position:relative;
    top:10px;
    width:1024px;
    height:1000px;
    margin-left:auto;
    margin-right:auto;
    background-color:#F3F6FF;
}

.tab_container{
    width:100%;
    height:auto;
    background-color:#F3F6FF;
}

.tab{
    width:100px;
    height:auto;
    margin-right: 10px;
    display: inline-block;
    background-color:#F3F6FF;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}

.tab_selected {
    background: -webkit-gradient(linear,left top,left bottom,from(#73B1EA),to(#02C));
    color: white;
}

.page_content{
    position:relative;
    top:10px;
    width:100%;
    height:100%;
    background-color: #F3F6FF;
    display: none;
}

/* following tab */
#following_content .left {
    width:48%;
    float:left;
    height:auto;
    background-color:white;
    border: 1px solid black;
    min-height: 50px;
    border-top-left-radius:10px;
}

#follow_search {
    width: 100%;
    height: 800px;
}
#following_content .right {
    width:48%;
    float:right;
    height:auto;
    background-color:white;
    border: 1px solid black;
    border-top-right-radius: 10px;
}
#following_content .right_header {
    height: 30px;
    margin-top:10px;
    margin-left:10px;
}
#following_list{
    width: 100%;
}
#follow_search {
    width: 100%;
    height: 80%;
}

/* follow entry */
.user_entry {
    width: 100%;
    height: 55px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 5px;
    padding-top:5px;
}
.user_entry .user_entry_left {
    float: left;
    width: 90px;
}
.user_entry .user_picture {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
}
.user_entry .user_entry_middle {
    float: left;
    width: auto;
}
.user_entry .remove_following {
    float: right;
    width: 80px;
    background-color: red;
    color: white;
    padding: 3px;
}
.user_entry .add_following {
    float: right;
    width: 80px;
    background-color: purple;
    color: white;
    padding: 3px;
}
.user_entry .following {
    float: right;
    width: 80px;
    background-color: green;
    color: white;
    padding: 3px;
}

/* follower tab */
#followers_content .left {
    width: 48%;
    float: left;
    height: auto;
    border: 1px solid black;
    border-top-left-radius:10px;
    background-color: white;
}
#followers_content .left_header {
    width: 100%;
    text-align:center;
    color:navy;
    height:25px;
    padding-top:5px;
    margin-bottom:-7px;
}
.left_header{
    height: 50px; 
    width: 100%; 
    border-bottom: 1px solid black;
}

#followers_list {
    width: 100%;
    height: auto;
}
.selected_follower {
    background: -webkit-gradient(linear,left top,left bottom,from(#c0c0c0),to(#dadada));
}
#followers_content .right {
    width: 48%;
    float: right;
    height: 20%;
    border: 1px solid black;
}

/* ----------------GROUP TAB--------------- */
.create_group{
    color:navy;
    float:right;
    width:auto;
    height:auto;
    margin-top:10px;
    margin-right:30px;
}

#groups_content .left {
    width: 280px;
    float: left;
    height: auto;
    border: 1px solid black;
    border-bottom:none;
    background-color:white;
    border-top-left-radius:10px;
}
#groups_content .left_header {
    width: 100%;
    text-align:center;
    color:navy;
    height:25px;
    padding-top:5px;
}
#left_groups_list {
    width: 100%;
}
#groups_content .middle {
    width: 340px;
    float: left;
    margin-left: 20px;
    height: 20%;
    border: 1px solid black;
    background-color:white;
}
#groups_content .middle .add_joined {
    float: right;
    width: 80px;
    background-color: green;
    color: white;
    padding: 3px;
    position: relative;
    right: 5px;
    bottom: 5px;
}
#groups_content .right {
    width: 360px;
    float: right;
    height: auto;
    border: 1px solid black;
    background-color:white;
}
#groups_content .right_header {
    width: 100%;
    height: 35px;
}
.suggest_groups{
    display:inline-block;
    height:auto;
    width:auto;
    border:1px solid black;
    padding:7px;
    margin-top:5px;
    margin-left:15px;
}
.suggest_groups_active{
    background-color:navy;
    color:white;
}

.group_entry {
    width: 100%;
    height: 60px;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    margin-top:7px;
}
.group_entry.selected_group {
    background-color:beige;
}
.group_entry .group_entry_left {
    float: left;
    width: auto;
    height:auto;
    margin-top:5px;
    margin-left: 5px;
}
.group_entry .group_picture {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
}
.group_entry .group_entry_middle {
    float: left;
    width: auto;
    height: auto;
    margin-left:10px;
    margin-top:15px;
}
.group_entry .remove_following {
    width: 80px;
    background-color: red;
    color: white;
    padding: 3px;
}
.group_entry .add_following {
    float: right;
    width: 80px;
    background-color: purple;
    color: white;
    padding: 3px;
}
.group_entry .following {
    float: right;
    width: 80px;
    background-color: green;
    color: white;
    padding: 3px;
}
.group_entry .remove_joined {
    float: right;
    width: 80px;
    background-color: purple;
    color: white;
    padding: 3px;
}

.group_entry_left_side{
    float:right;
    height:auto;
    width:auto;
}

/* in-field labels */
.in-field_block {
    margin-left:25px;
    width:200px;
    float:left;
    top: 3px;
    margin-top:10px;
}
.in-field_block_group{
    margin-left:10px;
    width:200px;
    float:left;
    margin-top:6px;
    margin-bottom:6px;
}
.in-field_block label {
    position: absolute;
    z-index: 1000;
    margin-top:5px;
    margin-left:5px;
}
.in-field_block .textbox {
    position:relative;
    height:25px;
    width:200px;
}

.suggested_friends{
    margin-right:50px;
    width:auto;
    height:33px;
    text-align:center;
    float:right;
    margin-top:7px;
    border:1px solid black;
    padding-left:3px;
    padding-right:3px;
    background-color:#F3F6FF;
}

.suggested_active{
    background-color: navy;
    color:white;
}