#notifications_content .left {
    padding: 5px;
    width: 48%;
    height: auto;
    float: left;
    border: 1px solid black;
}

#notifications_content .right {
    padding: 5px;
    width: 48%;
    height: auto;
    float: right;
}

#notifications_list {
    width: 100%;
    height: auto;
}

#notification_list .notification_entry {
    height: auto;
    border: 1px solid black;
}