#notifications_list {
    width: 423px;
    max-height: 700px;
    overflow:auto;
    margin-top:35px;
    float: left;
    border-top:1px solid #CCC;
    text-align: center;
}

#notifications_content > .right {
    width: 450px;
    float: right;
}

.notification_entry {
    width: 98%;
    height: auto;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    position: relative;
    padding-top:10px;
    padding-bottom:10px;
}

.notification_entry.unviewed {
    background:#F3F6FF;
    background: -webkit-linear-gradient(top, #F3F6FF, white);
    background: -moz-linear-gradient(top, #F3F6FF, white);
    background: -o-linear-gradient(top, #F3F6FF, white);
    background: -ms-linear-gradient(top, #F3F6FF, white);
    background: linear-gradient(top, #F3F6FF, white);
}


.notification_entry.unviewed .middle{
    width: 210px;
    height:auto;
    min-height:70px;
    color:black;
    font-style:normal;
    margin-left:auto;
    margin-right:auto;
}

.notification_entry > .left {
    display:inline-block;
    width: 90px;
    float:left;
}

.notification_entry .picture {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.notification_entry .picture img {
    width: 100%;
    height: 100%;
}

.notification_entry .middle {
    width: 210px;
    height:auto;
    min-height:70px;
    color:darkgray;
    font-style:italic;
    margin-left:auto;
    margin-right:auto;
}

.notification_entry > .accept {
    background:#80B;
    background: -webkit-linear-gradient(top, #80B, #A3F);
    background: -moz-linear-gradient(top, #80B, #A3F);
    background: -o-linear-gradient(top, #80B, #A3F);
    background: -ms-linear-gradient(top, #80B, #A3F);
    background: linear-gradient(top, #80B, #A3F);

    width: 80px;
    color: white;
    padding: 3px;
    text-align: center;
    position:absolute;
    top:0px;
    right:5px;
}

.notification_entry .mark_read {
    position:absolute;
    top:28px;
    right:-8px;
    width: 105px;
    color: gray;
    padding: 3px;
    text-align: center;
}

.notification_entry .mark_read:hover{
    color:navy;
}

.notification_entry .responded{
    color:black;
    position:absolute;
    top:6px;
    right:6px;
}

.notification_entry a {
    color:darkgray;
}

.notification_entry.unviewed a{
    color: blue;
}

.notification_entry.unviewed a:hover{
    color: navy;
}

.notifications_tab{
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    width: 100px;
    height: auto;
    background-color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-radius: 5px;
}

.notifications_tab_selected{
    background:#F8BA78;
    background: -webkit-linear-gradient(top, #F8BA78, #F5952E);
    background: -moz-linear-gradient(top, #F8BA78, #F5952E);
    background: -o-linear-gradient(top, #F8BA78, #F5952E);
    background: -ms-linear-gradient(top, #F8BA78, #F5952E);
    background: linear-gradient(top, #F8BA78, #F5952E);

    color:white;
}