/* ---------- GLOBAL ------------*/
body{
    background-color: #F3F6FF;
    margin: 0px;
}

a{
    color:white; text-decoration: none;
}

/* ---------- TOP PANEL ----------- */
.top_panel{
    height: 40px;
    width:100%;
    background-color:#4682B4;
}

.inside_top_panel{
    width:1024px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.top_links{
    width:100%;
    text-align: right;
    height:100%;
    position:relative;
    top:10px;
}

/* ---------- CONTAINER ---------- */

.container{
    position:relative;
    top:10px;
    width:1024px;
    height:1000px;
    margin-left:auto;
    margin-right:auto;
    background-color:#F3F6FF;
}

.tab_container{
    width:100%;
    height:40px;
    background-color:#F3F6FF;
}

.tab{
    width:100px;
    height:100%;
    margin-right: 10px;
    display: inline-block;
    background-color:#bbffee;
    border: 1px solid black;
}

.tab_selected {
    background-color: navy;
    color: white;
}

.page_content{
    position:relative;
    top:1px;
    width:100%;
    height:100%;
    border: 1px solid black;
    background-color: white;
    display: none;
}

/* following tab */
#following_content .left {
    width:48%;
    float:left;
    height:100%;
    background-color:white;
    border: 1px solid black;
}
#follow_search {
    width: 100%;
    height: 800px;
    border: 1px solid black;
}
#following_content .right {
    width:48%;
    float:right;
    height:100%;
    background-color:white;
    border: 1px solid black;
}
#following_content .right_header {
    height: 30px;
}
#following_list{
    width: 100%;
}
#follow_search {
    width: 100%;
    height: 80%;
}

/* follow entry */
.user_follow_entry {
    width: 100%;
    height: 75px;
    border: 1px solid black;
}
.user_follow_entry .user_follow_entry_left {
    float: left;
    width: 90px;
}
.user_follow_entry .user_picture {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
}
.user_follow_entry .user_follow_entry_middle {
    float: left;
    width: 40%
}
.user_follow_entry .remove_following {
    float: right;
    width: 80px;
    background-color: red;
    color: white;
    padding: 3px;
}
.user_follow_entry .add_following {
    float: right;
    width: 80px;
    background-color: purple;
    color: white;
    padding: 3px;
}
.user_follow_entry .following {
    float: right;
    width: 80px;
    background-color: green;
    color: white;
    padding: 3px;
}

/* follower tab */
#followers_content .left {
    width: 48%;
    float: left;
    height: 100%;
    border: 1px solid black;
}
#followers_content .left_header {
    width: 100%;
}
#followers_list {
    width: 100%;
    height: 800px;
}
.selected_follower {
    border: 4px inset purple;
}
#followers_content .right {
    width: 48%;
    float: right;
    height: 100%;
    border: 1px solid black;
}

/* group tab */
#groups_content .left {
    width: 30%;
    float: left;
    height: 100%;
    border: 1px solid black;
}
#groups_content .left_header {
    width: 100%;
}
#groups_content .middle {
    width: 30%;
    display: inline-block;
    height: 100%;
    border: 1px solid black;
}
#groups_content .right {
    width: 30%;
    float: right;
    height: 100%;
    border: 1px solid black;
}
#groups_content .right_header {
    width: 100%;
}

/* in-field labels */
.in-field_block {
    position:relative;
    height:30px;
    width:200px;
    float:left;
}
.in-field_block label {
    position: absolute;
    top: 4px;
    left: 4px;
}
.in-field_block .textbox {
    height:30px;
    width:200px;
}

.suggested_friends{
    margin-right:60px;
    width:200px;
    height:100%;
    text-align:center;
    float:right;
    border-left:1px solid black;
    border-right: 1px solid black;
}

.suggested_active{
    background-color: navy;
    color:white;
}