#create_group{
    color:navy;
    float:right;
    width:auto;
    height:auto;
    margin-top:10px;
    margin-right:30px;
}

#groups_content > .left {
    width: 280px;
    float: left;
    height: auto;
    border: 1px solid #CCC;
    border-bottom:none;
    background-color:white;
    border-top-left-radius:10px;
}
#groups_content .left_header {
    width: 100%;
    text-align:center;
    color:gray;
    height:48px;
}

.group_profile_header{
    text-align: center;
    height:35px;
    width:100%;
    color:gray;
    border-bottom:1px solid #CCC;
    position:relative;
    top:3px;
}

#left_groups_list {
    width: 100%;
}
#groups_content > .middle {
    position:relative;
    width: 340px;
    float: left;
    margin-left: 10px;
    height: auto;
    border: 1px solid #CCC;
    background-color:white;
    padding:10px;
    min-height:23px;
}

#groups_content > .right {
    width: 360px;
    float:right;
    height: auto;
    border: 1px solid #CCC;
    border-top-right-radius:10px;
    background-color:white;
}

#groups_content .right_header {
    width: 100%;
    height: 48px;
    border-top-right-radius:10px;
}

.suggest_groups{
    display:inline-block;
    background: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(white));
    height:auto;
    width:auto;
    border:1px solid #CCC;
    padding:7px;
    margin-top:5px;
    margin-left:15px;
}

.suggest_groups_active{
    background:-webkit-gradient(linear,left top,left bottom,from(#DDD),to(#EFF));
    color:black;
}

.group_entry {
    width: 100%;
    height: 60px;
    border-top:1px solid #CCC;
    text-align :center;
    position:relative;
}
.group_entry.selected_group {
    background:-webkit-gradient(linear,left top,left bottom,from(#DDD),to(#EFF));
}
#edit_groups_list{
    border-bottom:1px solid #CCC;
}
.group_entry .group_entry_left {
    float: left;
    width: auto;
    height:auto;
    margin-top:5px;
    margin-left: 5px;
}
.group_entry .group_picture {
    width: 50px;
    height: 50px;
    background-color: white;
}
.group_entry .group_entry_middle {
    float: left;
    text-align:center;
    width: 180px;
    height: auto;
    margin-top:16px;
}

.group_entry .following {
    position:absolute;
    right:0px;
    width: auto;
    color: gray;
    padding: 3px;
    text-align: center;
}

.group_entry .joined {
    position:absolute;
    right:0px;
    width: auto;
    color: gray;
    padding: 3px;
    text-align: center;
}

.remove_following, .remove_joined {
    float:right;
    width: 75px;
    background: -webkit-gradient(linear,left top,left bottom,from(#FF7373),to(red));
    color: white;
    padding: 3px;
    text-align: center;
    display:inline-block;
    position:absolute;
    bottom:0px;
    right:0px;
}

.invite_people {
    width: 75px;
    height:39px;
    background: -webkit-gradient(linear,left top,left bottom,from(purple),to(#AF64DE));
    color: white;
    padding: 5px;
    text-align: center;
    display:inline-block;
    position:absolute;
    top:0px;
    right:-3px;
}

.middle .add_joined {
    display:inline-block;
    background:-webkit-gradient(linear,left top,left bottom,from(#DF58E8),to(purple));
    color: white;
    padding: 3px;
    width:75px;
    text-align: center;
}

.user_profile_header{
    width:100%;
    text-align: center;
}

.group_profile_picture{
    position:absolute;
    left:10px;
    top:55px;
    width:50px;
    height:50px;
}

.profile_name_display{
    margin-left: auto;
    margin-right:auto;
}

.group_entry .add_following {
    float: right;
    width: 75px;
    background: -webkit-gradient(linear,left top,left bottom,from(#0C2),to(green));
    color: white;
    padding: 3px;
    text-align: center;
}

.group_entry_left_side{
    float:right;
    height:auto;
    width:auto;
}

