.settings_wrapper {
    background: -webkit-linear-gradient(top, #F3F6FF, white);
    background: -moz-linear-gradient(top, #F3F6FF, white);
    background: -o-linear-gradient(top, #F3F6FF, white);
    background: -ms-linear-gradient(top, #F3F6FF, white);
    background: linear-gradient(top, #F3F6FF, white);
    
    width: 500px;
    border: 1px solid #CCC;
    border-top-left-radius: 10px;
    background-color: white;
    float: left;
}

.settings_wrapper table {
    width: 100%;
}

.settings_wrapper a {
    color: navy;
}

#settings_content .right {
    width: 500px;
    border: 1px solid #CCC;
    border-top-right-radius: 10px;
    background-color: white;
    float: right;
    display: none;
    text-align: center;
}

#preview_image {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}