.data_box_top_bar{
    width:auto;
    height:30px;
    margin-top:5px;
    margin-left:10px;
    margin-right:10px;
    white-space: nowrap;
    overflow:hidden;
}

.group_graph_top_left{
    width:49%;
    height:150px;
    border: 1px solid black;
    position:absolute;
    top:34px;
    left:0px;
}
.group_graph_top_right{
    width:49%;
    height:150px;
    border: 1px solid black;
    position:absolute;
    top:34px;
    right:0px;
}
.group_graph_bottom_left{
    width:49%;
    height:100px;
    border: 1px solid black;
    position:absolute;
    bottom:0px;
    left:190px;
}

.group_graph_bottom_middle{
    width:100px;
    height:100px;
    border: 1px solid black;
    position:absolute;
    bottom:0px;
    left:0px;
}
.group_graph_bottom_right{
    width:100px;
    height:100px;
    border: 1px solid black;
    position:absolute;
    bottom:0px;
    right:0px;
}

.percent_container{
    width:80%;
    margin-right:5px;
    height:20px;
    border: 1px solid black;
    margin-left:50px;
    margin-top:20px;
    position: relative;
}