.data_box_top_bar{
    width:auto;
    height:30px;
    margin-top:5px;
    margin-left:10px;
    margin-right:10px;
    white-space: nowrap;
    overflow:hidden;
}

.group_graph_top_left{
    width:200px;
    height:150px;
    border: 1px solid black;
    position:absolute;
    top:34px;
    left:10px;
    text-align: left;
}
.group_graph_top_right{
    width:310px;
    height:130px;
    position:absolute;
    top:53px;
    right:3px;

}

.group_graph_bottom_left{
    width:49%;
    height:150px;
    position:absolute;
    bottom:-9px;
    left:38px;
}
.group_graph_bottom_right{
    width:215px;
    height:125px;
    position:absolute;
    bottom:-10px;
    right:15px;
}

.total_percent_container, .male_percent_container, .female_percent_container{
    width:235px;
    height:20px;
    margin-left:25px;
    margin-top:23px;
    position: relative;
    text-align: left;
}