.divset {
    display:inline-block;
    padding: 5px 10px 6px;
    background: #fbfbfb;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);position: relative;
    cursor: pointer;
    font-size:12px;
}

.divset.divset_selected {
    background:-webkit-gradient(linear,left top,left bottom,from(#EEE),to(#AAA));
    color: #444;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}