/* invite people gradient */
/* green gradient */
.ipg{
    background:#8AE28F;
    background: -webkit-linear-gradient(top, #8AE28F, #22A228);
    background: -moz-linear-gradient(top, #8AE28F, #22A228);
    background: -o-linear-gradient(top, #8AE28F, #22A228);
    background: -ms-linear-gradient(top, #8AE28F, #22A228);
    background:linear-gradient(top, #8AE28F, #22A228);
}

/* gray tab gradient */
.gtg{
    background:#F3F6FF;
    background: -webkit-linear-gradient(top, #F3F6FF, #EEE);
    background: -moz-linear-gradient(top, #F3F6FF, #EEE);
    background: -o-linear-gradient(top, #F3F6FF, #EEE);
    background: -ms-linear-gradient(top, #F3F6FF, #EEE);
    background: linear-gradient(top, #F3F6FF, #EEE);
}

