.percent_bar_total {
    background-color: #A13D97;
}

.percent_bar_male {
    background-color: #3FA9F5;
}

.percent_bar_female {
    background-color: #E80C7A;
}

.percent_bar {
    height: 100%;
    width: 0px;
}

.graph_bar {
    width: 100%;
    background-color: #3FA9F5;
    color: white;
    border: none;
    position: absolute;
    bottom: 15px;
    padding-top:2px;
    padding-bottom:2px;
}

.bar_today {
    background-color: #F9D972;
}

.bar_selected_day {
    background-color: #7BC848;
}

.vert_bar_wrapper {
    width: 40px;
    height: 100%;
    position: relative;
    border: none;
    display: inline-block;
    text-align: center;
    margin-left: 1px;
}

.graph_bar_label {
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 0px;
    color:darkgray;
}