.marker_box {
    width: 16px;
    height: 14px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    border: 1px solid black
}

.half_marker_box {
    width: 50%;
    height: 100%;
    float: left;
    background-color: white;
    border: none;
}

.marker_wrapper {
    height: 100%;
    width: 100%;
}

.graph_bar {
    width: 10px;
    background-color: blue;
    border: none;
}