.data_box_top_bar{
    width:auto;
    height:32px;
    padding-top:3px;
    margin-left:10px;
    white-space: nowrap;
    overflow:hidden;
    border-bottom:1px solid black;
}

.group_graph_top_left{
    width:200px;
    height:150px;
    position:absolute;
    top:40px;
    left:20px;
    text-align: left;
    padding-top:10px;
}
.group_graph_top_right{
    width:310px;
    height:130px;
    position:absolute;
    top:70px;
    right:3px;

}

.group_graph_bottom_left{
    width:49%;
    height:auto;
    position:absolute;
    top:135px;
    left:-10px;
}
.group_graph_bottom_right{
    width:auto;
    height:94px;
    position:absolute;
    bottom:0px;
    right:0px;
}

.day_display{
    width:100%;
    position:absolute;
    bottom:3px;
    height:75px;
    text-align:right;
}

.total_percent_container, .male_percent_container, .female_percent_container{
    width:235px;
    height:20px;
    margin-left:35px;
    position: relative;
    text-align: left;
    border:1px solid lightgray;
    margin-top:20px;
}

.show_percent{
    font-weight: bold;
}

.demographics{
    position:absolute;
    top:-34px;
    left:37px;
}

.percent_male_container{
    position:absolute;
    top:-7px;
    left:24px;
    width:300px;
}

.percent_female_container{
    
}

.total_percent_container{
    
}