body {
    background-color:#F7F7F7;
    text-align:center;
}
.container {
    top:70px;
    width:1000px;
    height:100%;
}

.left{
    width:200px;
    height:1000px;
    float:left;
    
    background-color: yellow;
}

.center{
    width:600px;
    height:1000px;
    float:left;
    
    background-color: red;
}

.right{
    width:200px;
    height:1000px;
    margin-right:0px;
    float:left;
    
    background-color: orange;
}

.left_top{
    width:100%;
    height:200px;
    
    background-color:green;
}

.left_bottom{
    width:100%;
    height:600px;
    
    background-color:brown;
}

.center_top{
    width:100%;
    height:50px;
    
    background-color:darkblue;
}

.center_graph{
    width:100%;
    height:400px;
    
    background-color:purple;
}

.center_board{
    width:100%;
    height:500px;
    
    background-color:grey;
}

.right_top{
    width:100%;
    height:50px;
    
    background-color:black;
}

.right_bottom{
    width:100%;
    height:600px;
    
    background-color: violet;
}

/*
.toppanel{
    position:relative;
    width:100%;
    height:40px;

    border-style:solid;
    border-color: #000000 #000000 #000000 #000000;
    background-color: white;
}
.left_container {
    position:relative;
    width:250px;
    height:1000px;
    float:left;
    border-width:3px;

    border-style:solid;
    border-color: #000000 #000000 #000000 #000000;
    background-color: white;
}

.centergraph{
    position:relative;
    width:400px;
    height:300px;
    border-bottom-style:solid;

    border-bottom-color: black;
    border-width:3px;
    background-color: white;
}
.rightpanel {
    position:relative;
    float:left;
    left:40px;
    width:150px;
    height:1000px;

    border-width:3px;
    border-style:solid;
    border-color: #000000 #000000 #000000 #000000;
    background-color: white;
}

.right_top{
    width:100%;
    height:40px;
    border-bottom-style:solid;
    font-family:Arial, Helvetica, sans-serif;

    border-bottom-color: black;
    border-width:3px;
    background-color: white;
}

.right_bottom{
    
}

*/

#my_groups .ui-selecting { background: #FECA40; }
#my_groups .ui-selected { background: #F39814; color: white; }
#my_groups { list-style-type: none; margin: 0; padding: 0; width:100% }
#my_groups li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

#my_groups div.group_label {
    margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px;
    text-align:left;
}
