body {
    background-color:#F7F7F7;
    text-align:center;
}
.container {
    padding-top:10px;
    width:1024px;
    height:100%;
}

.left{
    width:150px;
    height:1000px;
    float:left;
    border-left: black;
    border:1px solid #000000;

    background-color: white;
}

.center{
    width:595px;
    height:1000px;
    float:left;

    background-color: white;
}

.right{
    width:200px;
    height:1000px;
    margin-right:0px;
    float:left;
    border-right:black;
    border:1px solid #000000;

    background-color: white;
}

.left_top{
    width:100%;
    height:100px;

    background-color:white;
}

.left_bottom{
    width:100%;
    height:600px;
    
    background-color:white;
}

.center_top{
    width:100%;
    height:100px;

    background-color:darkblue;
}

.center_top_left{
    width:80%;
    float:left;
    height:100%;

    background-color:lightblue;
}

.center_top_right{
    width:20%;
    float:right;
    height:100%;

    background-color: lightblue;
}

.center_day{
    width:auto;
    height:33px;

    background-color:blue;
}

.center_graph{
    width:100%;
    height:300px;


}

.center_board{
    width:100%;
    height:500px;

    background-color:grey;
}

.right_top{
    width:100%;
    height:100px;

    background-color:#FDEEF4;
}

.right_bottom{
    width:100%;
    height:600px;

    background-color: white;
}

/* CSS for Weekday Tabs */

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px; /*--Set height of tabs--*/
    /* border-bottom: 1px solid #999; */
    /* border-left: 1px solid #999; */
    width: 100%;
    right:2px;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px; /*--Subtract 1px from the height of the unordered list--*/
    line-height: 31px; /*--Vertically aligns the text within the tab--*/
    /* border: 1px solid #999; */
    border-left: none;
    /* margin-bottom:  -1px;*/  /*--Pull the list item down 1px--*/
    overflow: hidden;
    position: relative;
    background: #e0e0e0;

    font-size: 0.8em;
    width: 84px; /* Center width (595)/7 (days of the week) and adjusted for border */
}
ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    /* padding: 0 12px; */
    /* border: 1px solid #fff; */ /*--Gives the bevel look with a 1px white border inside the list item--*/
    outline: none;
}
ul.tabs li a:hover {
    background: #ccc;
}
ul.tabs li.day_selected {
    background: #999;
}

/* CSS for active plan */
.active{
    background:#000000;
}

/* Used for the groups Selectable instance. */
div.group_selectable_wrapper ul .group_selected { background: purple; color: white; }
div.group_selectable_wrapper ul { list-style-type: none; margin: 0; padding: 0; width:100% }
div.group_selectable_wrapper ul li { margin: 3px; padding: 0.4em; font-size: 1.0em; height: 18px; }
div.group_selectable_wrapper ul div.group_label {
    margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px;
    text-align:left;
}

/* Used for the in-field labels. */
div.in-field_block {
    position:relative;
    height:30px;
    width:200px;
    float:left;
}
div.in-field_block label {
    position:absolute;
    top:3px;
    left:5px;
    font:normal 18px Arial;
    color: #999999;
}
#make_plan input.textbox, div.change_location_panel .textbox {
    height:30px;
    width:200px;
}

/* used for bottom up tabs */
#map_data_tabs { width: 100% } 
.tabs-bottom { position: relative; } 
.tabs-bottom .ui-tabs-panel { height: 140px; overflow: auto; } 
.tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: -31px; right:0; padding: 0 0.2em 0.2em 0; } 
.tabs-bottom .ui-tabs-nav li { margin-top: -2px !important; margin-bottom: 1px !important; border-top: none; border-bottom-width: 1px; }
.ui-tabs-selected { margin-top: -3px !important; }

/* for the plan auto-complete */
.pac-container {
    width: 100px;
}

/* for time/day picker in make-a-plan */
#plan_time .ui-button-text-only .ui-button-text { padding: .4em .4em; }
#plan_time  .ui-widget { font-size: .85em; }
#plan_day .ui-button-text-only .ui-button-text { padding: .4em .4em; }
#plan_day  .ui-widget { font-size: .85em; }

/* CSS for right panel plans*/
.plans_wrapper{
    text-align: center;
}

.active_plans{
    margin:0px;
    padding:0px;
}

.plan_content{
    list-style-type: none;
    border: 1px solid black;
    padding-top: 10px;
}

.selected_plan{
    background-color: #84b8d9;
    color:purple;
}

div.change_location_panel {
    display: none;
    height: 45px;
}