.in-field_block {
    position:relative;
    height: 30px;
    width: 200px;
}

.in-field_block label {
    position:absolute;
    top: 0.6em;
    left: 0.35em;
    color: #999999;
}

.in-field_block input {
    width: 100%;
    height: 100%;
}