.in-field_block {
    position:relative;
    height:auto;
    width:auto;
}

.in-field_block label {
    position:absolute;
    top: 0.6em;
    left: 0.35em;
    color: #999999;
}

.in-field_block input {
    width: 200px;
    height: 30px;
}