#invite_modal {
    width: 500px;
    left: 250px;
    top: 30%;
}


#invite_followers_list_wrapper {
    width: 300px;
    float: left;
    margin-right: 30px;
}

#invite_followers_list_wrapper .header {
    width: 100%;
}
    
#invite_followers_list {
    height: 100px;
    overflow: auto;
}

#invite_groups_list_wrapper {
    width: 170px;
    float: left;
}

#invite_groups_list_wrapper .header {
    width: 100%;
}
    
#invite_groups_list {
    height: 100px;
    overflow: auto;
}

.invite_followers_divset {
    width: 115px;
    text-align: center;
}

.invite_groups_divset {
    width: 130px;
    text-align: center;
}