#invite_modal {
    width: 500px;
    left: 250px;
    top: 30%;
}

#invite_followers_list {
    width: 300px;
    height: 100px;
    overflow: auto;
    float: left;
    margin-right: 30px;
}

#invite_followers_list table {
    width: 100%;
    text-align: center;
}

#invite_groups_list {
    width: 170px;
    height: 100px;
    overflow: auto;
}

.invite_followers_divset {
    width: 115px;
    text-align: center;
}

.invite_groups_divset {
    width: 130px;
    text-align: center;
}