#invite_modal {
    display: none;
    position: absolute;

    padding: 5px;
    width: auto;
    height: auto;
    background-color: lightgray;
    left: 50%;
    top: 50%;
}

#invite_modal .title_bar {
    height: 1.5em;
    width: 100%;
    background-color: purple;
}

#invite_followers_list {
    width: 200px;
    height: 100px;
    overflow: auto;
    float: left;
}

#invite_followers_list table {
    width: 100%;
    
}

#invite_groups_list {
    width: 200px;
    height: 100px;
    overflow: auto;
}

#invite_divset {
    width: 100%;
    text-align: center;
}