.two_percent_wrapper {
    height: 25px;
    width: 200px;
    position: absolute;
    left:20px;
    top:140px;
    border: 1px solid lightgrey;
}

.day_plan_graph {
    width: 300px;
    height: 150px;
    position:absolute;
    top:49px;
    right:17px;
}

.place_display_info{
    text-align: left;
    width:200px;
    margin-left:20px;
}

.attending_info{
    position:relative;
    top:5px;
}

.boy_blue_square{
    width:12px; 
    height:12px; 
    background-color:lightblue; 
    position:absolute;
    top:51px;
    left:25px;
}

.girl_pink_square{
    width:12px; 
    height:12px; 
    background-color:pink; 
    position:absolute;
    left:133px;
    top:51px;
}

.male_percent_display{
    font-weight:bold;
    font-size: 12px; 
    position:absolute;
    top:50px;
    left:40px;
}

.female_percent_display{
    font-weight:bold; 
    font-size: 12px;
    position:absolute;
    top:50px;
    left:150px;
}

.display_date{
    width:100%;
    position:absolute;
    bottom:0px;
    height:75px;
    text-align:right;
}

.gender_breakdown{
    position:relative;
    top:10px;
    height:80px;
    width:245px;
}