.two_percent_wrapper {
    height: 25px;
    width: 200px;
    position: relative;
}

.day_plan_graph {
    width: 300px;
    height: 150px;
    position:absolute;
    top:0px;
    right:0px;
}

.place_display_info{
    text-align: left;
    width:200px;
    margin-left:15px;
}