body {
    background-color:#F7F7F7;
}
fieldset {
    border:1px solid #000000;
    background-color: white;
    width:312px;
}
legend {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    letter-spacing: -1px;
    font-weight: bold;
    line-height: 1.1;
    color:#fff;
    background: #990099;
    border: 1px solid #333;
    padding: 2px 6px;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 175%;
    letter-spacing: -1px;
    font-weight: normal;
    line-height: 1.1;
    color:#333;
}

.form {
    margin:0;
    padding:10px;
}
#container {
    width:1024px;
    margin:auto;
    padding:10px;
}

#rightside {
    position:relative;
    width:260px;
    padding-top:30px;
    float:right;
}

#leftside{
    position:relative;
    width:260px;
    height:1000px;
    padding-top:30px;
    float:left;
}

.clear {
    clear:both;
}
.holder {
    background-color:#fff;
}
.div_textbox {
    width:260px;
    float:right;
    height:40px;
    font:normal 18px Arial;
    color: #999999;
}

.textbox {
    background-image: url(images/16t.png);
    background-repeat: no-repeat;
    background-position:left;
    width:260px;
    font:normal 18px Arial;
    color: #999999;
}
.textbox:focus, .textbox:hover {
    background-color:#f9f2fc;
}

.username:focus, .username:hover {
    background-color:#f9f2fc;
}

.password:focus, .password:hover {
    background-color:#f9f2fc;
}

.button_div {
    position:relative;
    float:left;
    width:100%;
}

.buttons {
    background: #ffffff;
    font-size:17px; 
    color: #990099; 
    border-width: 2px;
    border-style: solid;
    border-color: #000000 #000000 #000000 #000000;
    text-decoration: none;
    text-transform:uppercase;
    font-weight:bold;
}

.buttons_black {
    background: #ffffff;
    font-size:13px; 
    color: #000000; 
    border-width: 2px;
    border-style: solid;
    border-color: #000000 #000000 #000000 #000000;
    text-decoration: none;
    text-transform:uppercase;
    font-weight:bold;
    width:120px;
    text-align: center;
}

.checkbox, .radio {
    width: 19px;
    height: 25px;
    padding: 0 5px 0 0;
    background: url(checkbox.gif) no-repeat;
    display: block;
    clear: left;
    float: left;
}

.radio {
    background: url(radio.gif) no-repeat;
}

.remember {
    width:200px;
    float:left;
    text-align:center;
    top:10px;
    padding-top:11px;
}


.error_message{
    position:relative;
    float:left;
    width:100%;
    height:auto;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}

.highlight_error {
    color: purple;
    border-color: purple;
    border-width: 5px;
}

/* The following two classes are used for the in-field labels. */
#log_in div.in-field_block, #sign_up div.in-field_block {
    position:relative;
}
#log_in label, #sign_up label {
    position:absolute;
    top:6px;
    left:17px;
    font:normal 18px Arial;
    color: #999999;
}