.plan_header{
    width: 100%;
    height: 40px;
    text-align:center;
}

.plan_info{
    position:absolute;
    
    width:250px;
    height:200px;
    left:15px;
    
    border:1px solid black;
}

.plan_graphs{
    position:absolute;
    right:15px;
    
    width:250px;
    height:200px;
    
    border: 1px solid black;
}

.plan_gender_graph{
    
}

.attending_graph{
    
}

.delete_plan {
    text-align: center;
    padding: 4px;
    border: 1px solid lightgray;
    color: white;
    background: -webkit-gradient(linear,left top,left bottom,from(#FF7373),to(red));
    background: -webkit-linear-gradient(top, #FF7373, red);
    background: -moz-linear-gradient(top, #FF7373, red);
    background: -o-linear-gradient(top, #FF7373, red);
    background: -ms-linear-gradient(top, #FF7373, red);
    background: linear-gradient(top, #FF7373, red);
    color: white;
    right: 0px;
    top: 0px;
    position: absolute;
}