#plan_conflict_modal {
    width: 300px;
    margin-left: -150px;
    margin-top: -125px;
}

#plan_conflict_modal .header {
    width: 100%;
    text-align: center;
}

#plan_conflict_select {
    margin-top: 10px;
}