.plan_header{
    width: 100%;
    height: 40px;
    text-align:left;
    margin-left:5px;
    margin-top:3px;
}

.plan_info{
    position:absolute;
    top:45px;
    left:15px;

    text-align: left;
    
    width:250px;
    height:200px;

    border:1px solid black;
}

.plan_graphs{
    position:absolute;
    right:15px;
    top:45px;
    width:250px;
    height:200px;

}

.plan_gender_graph{

}

.attending_graph{

}

.view_plan_location {
    text-align: center;
    padding: 4px;
    border: 1px solid lightgray;
    background: -webkit-gradient(linear,left top,left bottom,from(purple),to(#AF64DE));
    background: -webkit-linear-gradient(top, purple, #AF64DE);
    background: -moz-linear-gradient(top, purple, #AF64DE);
    background: -o-linear-gradient(top, purple, #AF64DE);
    background: -ms-linear-gradient(top, purple, #AF64DE);
    background: linear-gradient(top, purple, #AF64DE);
    color: white;
    position:absolute;
    top:0px;
    right:0px;
}

.delete_plan {
    text-align: center;
    padding: 4px;
    border: 1px solid lightgray;
    color: white;
    background: -webkit-gradient(linear,left top,left bottom,from(#FF7373),to(red));
    background: -webkit-linear-gradient(top, #FF7373, red);
    background: -moz-linear-gradient(top, #FF7373, red);
    background: -o-linear-gradient(top, #FF7373, red);
    background: -ms-linear-gradient(top, #FF7373, red);
    background: linear-gradient(top, #FF7373, red);
    color: white;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

.plan_deleted {
    width: auto;
    height: 50px;
    position: relative;
    top: 70px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
}