.plan_header{
    width: 100%;
    height: 40px;
    text-align:center;
}

.plan_info{
    position:absolute;
    
    width:250px;
    height:200px;
    left:15px;
    
    border:1px solid black;
}

.plan_graphs{
    position:absolute;
    right:15px;
    
    width:250px;
    height:200px;
    
    border: 1px solid black;
}

.plan_gender_graph{
    
}

.attending_graph{
    
}