/* Create plan CSS */
#create_plan_content {
    display: none;
    width: 550px;
    margin-left: -283px;
    margin-top: -125px;
}

#error_border {
    border: 3px dashed green;
}

#create_plan_content .title_bar .text {
    float: left;
    height: 100%;
    width: auto;
}

#plan_place_time_wrapper {
    text-align: center;
    height: 200px;
}

#plan_events_wrapper {
    display: none;
}

#plan_day .divset {
    padding-left: 5px;
    padding-right: 5px;
}

#plan_day {
    margin-bottom: 10px;
    width: 425px;
    float: left;
    margin-left: 40px;
}

#plan_place_time_wrapper .left_day_arrow, #plan_place_time_wrapper .right_day_arrow {
    float: right;
}

#plan_place_time_wrapper .right_day_arrow {
    margin-right: 20px;
}

#plan_time {
    float: left;
    width: 300px;
    margin-top: 5px;
}

plan_events_wrapper .left {
    width: 50%;
    height: 100%;
    float: left;
}

plan_events_wrapper .right {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
}

#plan_events_title {
    width: 100%;
    text-align: center;
}

#create_event_title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#plan_event_select_wrapper {
    width: 100%;
    height: 135px;
    float: left;
    overflow: auto;
    padding: 5px;
}

#create_plan_content h3 {
    margin-top: 0px;
}

#just_going{
    width:80px;
    padding:5px;
    background:-webkit-gradient(linear,left top,left bottom,from(#8AE28F),to(#22A228));
    color:white;
    margin-left:auto;
    margin-right:auto;
}