.container{
    position:relative;
    width:700px;
    height: 800px;
    margin-left: auto;
    margin-right:auto;
    position:relative; 
}

.bottom_content{
    height:100%;
    width:100%;
    border:1px solid black;
}

.top_links{
    position:relative;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    height:auto;
}

.tab{
    display:inline-block;
    height:auto;
    padding:10px;
    border:1px solid black;
    border-bottom: none;
    background-color:gray
}

.tab_selected{
    display:inline-block;
    height:auto;
    padding:10px;
    border:1px solid black;
    border-bottom: none;
    background-color:navy
}